---
layout: default
---

<style>
  .project__used__item {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: Inconsolata,monospace;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
    background: 0 0;
}
</style>

<div id="site">
  {% include switch.html %}
  {% include intro.html %}
  {% include background.html %}
  {% include education.html %}
  {% include skills.html %}
  {% include experience.html %}
  {% include featured-projects.html %}
  {% include other-projects.html %}
  {% include footer.html %}
  {% include top-button.html %}
</div>
