<section class="section background">
  <div class="section__title">Introduction</div>
  <div class="section__content">
    <p>
      I am a master's student at <a class="underline-link" href="http://www.tech.cornell.edu/" target="_blank">Cornell University</a> majoring in <a class="underline-link" href="https://tech.cornell.edu/programs/masters-programs/jacobs-technion-cornell-dual-ms-connective-media/" target="_blank">Information Systems</a>. I graduated from <a class="underline-link" href="http://www.xjtlu.edu.cn/en/" target="_blank">Xi'an Jiaotong-Liverpool University</a> in July 2023 with First Class Honors. 
    </p>
    <p>
      With a strong foundation in <strong>software engineering</strong> and <strong>machine learning engineering</strong>, I am focused on designing AI-powered products that address real-world challenges. 
      </p>
            
      <p>
        <p>
          Additionally, I am deeply interested in <strong>Music Technology</strong>. As a piano player and songwriter, I explored AI music research during my undergraduate studies. Particularly drawn to the intersection of technology and creativity, I aim to develop innovative and intelligent music products.</p>
      <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>

  </div>
</section>
