<section class="section background">
  <div class="section__title">Introduction</div>
  <div class="section__content">
    <p>
      I blend coding with creativity to build cool stuff and make music with AI 🎵. 
      </p>

<p>
  Currently exploring the tech world at Cornell, I’m passionate about designing AI-powered solutions that make a difference. With a background that merges full-stack development, machine learning, and music technology, I'm excited to create innovative products that combine my technical expertise and creative passions. Let's create something incredible together!</p>
  
  </div>
</section>
