<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a master's student at <a class="underline-link" href="http://www.tech.cornell.edu/" target="_blank">Cornell Tech</a> and  <a class="underline-link" href="http://www.cornell.edu/" target="_blank">Cornell University</a>.  I graduated from <a class="underline-link" href="http://www.xjtlu.edu.cn/en/" target="_blank">Xi'an Jiaotong-Liverpool University (XJTLU)</a> in July 2023 with First Class Honors. 
    </p>
    <h2>Machine Learning Developer</h2>

    <p>
      With a strong foundation in <strong>software engineering</strong> and <strong>machine learning engineering</strong>, I am focused on designing AI-powered products that address real-world challenges. This involves identifying problems, understanding user needs, and leveraging advanced technology to develop effective solutions.
      </p>
      
      <h2>From Algorithms to Melodies</h2>
      
      <p>
      As a machine learning and music technology enthusiast, my passion extends beyond just coding. I have a keen interest in <strong>Music Technology</strong>, with a particular focus on the fusion of technology and creativity. During my undergrad studies, I delved into AI music research, further fueling my fascination. As a producer and songwriter, my aspiration is to bridge the gap between the digital world and the realm of melodies. By intertwining my musical background with cutting-edge machine learning techniques, I aim to craft innovative and intelligent music products.
      </p>
      
      
    <!-- {% include employment-status.html %} -->
  </div>
</section>
