<section class="section other-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    {% for project in site.data.featured-projects %}
    <div class="project">
      <div class="project__name">
        <a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
      </div>
      <p>{{project.description}}</p>
      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="project__image">
      <img src="../img/featured/hummingtacos/hummingtacos.png" alt="Project image description">
    </div>    
    {% endfor %}
  </div>
</section>


<style>
  .project__image {
    float: right; /* Align the image to the right */
    width: 50%; /* Use 50% of the container's width for the image */
    margin-left: 20px; /* Space between the image and the text */
  }
  
  .project__image img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Keep the image's aspect ratio */
  }
</style>