<section class="section featured-projects">

  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project minitorch">
      <figure class="project__pic">
        <a href="https://github.com/Xuening0322/mini-torch-mle" target="_blank">
          <img src="{{site.baseurl}}/img/featured/minitorch/minitorch.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Xuening0322/mini-torch-mle" target="_blank">MiniTorch</a>
        </div>
        <p>A PyTorch-like machine learning framework, with pure Python re-implementation of the Torch API. </p>
      </figcaption>
      <div class="project__used">
        <span class="project__used__item">Python</span>
        <span class="project__used__item">Numba</span>
        <span class="project__used__item">Pytest</span>
      </div>
    </div>
  </div>
</section>
