<section class="section other-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    {% for project in site.data.featured-projects %}
    <div class="project">
      <div class="project__name">
        <a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
      </div>
      <p>{{project.description}}</p>
      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="project__image">
      <img src="../img/featured/hummingtacos/hummingtacos.png" alt="Project image description">
    </div>    
    {% endfor %}
  </div>
</section>


<style>
  .project__image {
    float: right; /* Align the image to the right */
    width: 50%; /* Use 50% of the container's width for the image */
    margin-left: 20px; /* Space between the image and the text */
  }
  
  .project__image img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Keep the image's aspect ratio */
  }
  
  .section.other-projects {
    background-color: #1a1d24; /* Dark background */
    color: #fff; /* White text color */
    padding: 20px;
    max-width: 1200px; /* Maximum width */
    margin: 0 auto; /* Centering the section */
  }
  
  .section__title {
    font-size: 24px; /* Larger font size for the title */
    margin-bottom: 20px; /* Space below the title */
  }
  
  .project {
    margin-bottom: 40px; /* Space between projects */
  }
  
  .project__name {
    font-size: 20px; /* Font size for project name */
  }
  
  .project__name a {
    color: #64ffda; /* Color for the project name link */
    text-decoration: none; /* No underline */
  }
  
  .project__used {
    margin-top: 10px; /* Space above the technology list */
  }
  
  .project__used__item {
    display: inline-block; /* Line up items horizontally */
    margin-right: 10px; /* Space between items */
    background-color: #0a192f; /* Background color for items */
    color: #64ffda; /* Text color for items */
    padding: 5px 10px; /* Padding inside the items */
    border-radius: 3px; /* Rounded corners for items */
  }
  
  .arrow-link::after {
    content: '→'; /* Add an arrow after the link */
    margin-left: 8px; /* Space before the arrow */
  }
  
  @media (max-width: 768px) {
    /* Adjustments for mobile view */
    .section.other-projects {
      padding: 10px;
    }
  
    .section__title {
      font-size: 18px;
    }
  
    .project__name {
      font-size: 16px;
    }
  }
  
</style>