<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Xuening Wang</span>, a student, developer, and songwriter
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:xuening.wang2002@outlook.com" target="_blank" class="highlight-link">xuening.wang2002@outlook.com</a>
      <a href="mailto:xw672@cornell.edu" target="_blank" class="highlight-link">xw672@cornell.edu</a>
    </span>
  </h3>
</header>
