<!-- _includes/navbar.html -->
<style>
    /* Adjusted styles to match footer */
    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: transparent; /* Transparent background */
        overflow: auto;
        transition: top 0.3s; /* Transition effect */
    }

    #navbar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #navbar li {
        float: left;
    }

    #navbar a {
        display: block;
        color: black; /* Matching text color with footer */
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: normal; /* Non-bold text */
    }

    #navbar a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Smooth Scroll */
    html {
        scroll-behavior: smooth;
    }

    #navbar a.active {
        background-color: #d0d0d0;
    }

    /* Fix margin-top issue */
    body {
        margin-top: -20px; /* Adjust value as needed */
    }
</style>

<script>
    /* Script to hide navbar on scroll down */
    let lastScrollTop = 0;
    window.addEventListener("scroll", () => {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop){
            // On scroll down, hide navbar
            document.getElementById("navbar").style.top = "-50px"; /* Adjust value as needed */
        } else {
            // On scroll up, show navbar
            document.getElementById("navbar").style.top = "0";
        }
        lastScrollTop = scrollTop;
    });
</script>

<nav id="navbar">
    <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#background">Background</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#featured-projects">Featured Projects</a></li>
        <li><a href="#other-projects">Other Projects</a></li>
    </ul>
</nav>
