<!-- _includes/navbar.html -->
<style>
    #navbar {
        position: fixed;
        margin-top: 0;
        width: 100%;
        overflow: auto;
        transition: top 0.3s;
        font-family: 'Inconsolata', monospace; /* Updated font-family */
    }

    #navbar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex; /* Updated layout */
        justify-content: space-around; /* Updated layout */
    }

    #navbar li {
        float: none; /* Updated layout */
    }

    #navbar a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: normal;
        background-color: transparent;
    }
</style>

<script>
    let lastScrollTop = 0;
    window.addEventListener("scroll", () => {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop){
            // On scroll down, hide navbar
            document.getElementById("navbar").style.top = "-50px";
        } else {
            // On scroll up, show navbar
            document.getElementById("navbar").style.top = "0";
        }
        lastScrollTop = scrollTop;
    });
</script>

<nav id="navbar">
    <ul>
        <li><a href="#intro" target="_blank" title="Intro"></a></li>
        <li><a href="#background" target="_blank" title="Background"></a></li>
        <li><a href="#education" target="_blank" title="Education"></a></li>
        <li><a href="#experience" target="_blank" title="Experience"></a></li>
        <li><a href="#skills" target="_blank" title="Skills"></a></li>
        <li><a href="#featured-projects" target="_blank" title="Featured Projects"></a></li>
        <li><a href="#other-projects" target="_blank" title="Other Projects"></a></li>
    </ul>
</nav>



