<!-- _includes/navbar.html -->
<style>
    #navbar {
        position: fixed;
        margin-top: 0;
        width: 100%;
        overflow: auto;
        transition: top 0.3s;
    }

    #navbar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }

    #navbar li {
        float: none;
    }

</style>

<script>
    let lastScrollTop = 0;
    window.addEventListener("scroll", () => {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop){
            // On scroll down, hide navbar
            document.getElementById("navbar").style.top = "-50px";
        } else {
            // On scroll up, show navbar
            document.getElementById("navbar").style.top = "0";
        }
        lastScrollTop = scrollTop;
    });
</script>

<nav id="navbar">
    <ul>
        <li><a href="#intro"></a><span class="text">Intro</span></li>
        <li><a href="#background">Background</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#featured-projects">Featured Projects</a></li>
        <li><a href="#other-projects">Other Projects</a></li>
    </ul>
</nav>



